@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 30, 30, 30;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.main-container {
  @apply flex flex-col items-center justify-center p-2 md:p-10 lg:p-24 sm:h-[100vh];
}

.game-container {
  @apply flex items-center justify-center flex-col bg-gradient-to-b from-green-950 to-green-900 p-10 w-[100%] lg:w-9/12 md:h-[90vh] lg:min-h-[80vh] rounded-md shadow-md;
}

.btn {
  @apply focus:outline-none text-white focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 disabled:cursor-not-allowed;
}

.btn-success {
  @apply w-[100px] bg-green-600 hover:bg-green-700 focus:ring-green-800;
}

.btn-warning {
  @apply w-[100px] bg-yellow-500 hover:bg-yellow-600 focus:ring-yellow-900;
}

.btn-error {
  @apply bg-red-600 hover:bg-red-800 focus:ring-red-800;
}

.btn-dark {
  @apply rounded-lg border focus:z-10 focus:ring-gray-600 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-900;
}

.landing-img {
  @apply w-auto	h-auto mb-6;
}

.blackjack-title {
  @apply text-3xl sm:text-6xl mb-10 tracking-widest;
}

.game-board {
  @apply flex flex-col py-10 lg:py-0 items-center justify-between md:justify-around w-[100%] relative h-[100%];
}

.btn-arena {
  @apply flex items-center justify-around w-[100%] my-10;
}

.blackjack-text {
  @apply sm:tracking-widest md:tracking-1 text-2xl opacity-50 text-gray-400 md:ml-4 hidden sm:block;
}

.card-img {
  @apply mb-2 sm:mb-0;
}

.hand {
  @apply flex flex-col space-y-5 items-center;
}

.hand-cards {
  @apply flex space-x-2 flex-wrap max-w-[220px] sm:max-w-[none] justify-center;
}

.backdrop {
  @apply opacity-25 fixed inset-0 z-40 bg-black;
}

.modal {
  @apply justify-center items-center flex overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none;
}

.modal-container {
  @apply relative mx-auto w-[90%] sm:w-[60%] md:w-[40%] lg:w-[30%];
}

.modal-content {
  @apply border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-gray-700 outline-none focus:outline-none;
}

.modal-title-container {
  @apply p-4 md:p-5 text-center;
}

.modal-title {
  @apply flex w-[100%] justify-center mb-3;
}

.modal-text {
  @apply mb-5 text-lg font-normal text-white;
}

.error-text {
  @apply text-red-700 font-medium;
}
